.badge {
    position: relative;

    &::after {
        width: @base*2;
        height: @base*2;
        content: "";
        top: 0;
        right: @base*4;
        border-radius: 50%;
        position: absolute;
        background-color: @color-yellow-orange;
    }
}
