.ant-list-loading {
    .ant-spin-container {
        div:first-child {
            min-height: 0 !important;
        }
    }
}

.ant-spin-nested-loading {
    width: 100%;
    height: 100%;

    .ant-spin-container {
        height: 100%;
    }

    > div > .ant-spin {
        max-height: inherit;
    }
}
